<div class="container">
  <form #areaForm="ngForm">
    <div class="form-group">
      <label for="width">Width</label>
      <input
        type="number"
        class="form-control"
        id="width"
        required
        [(ngModel)]="width"
        name="width"
        (input)="onWidthChange()"
      />
    </div>

    <div class="form-group">
      <label for="length">Length</label>
      <input
        type="number"
        class="form-control"
        id="length"
        required
        [(ngModel)]="length"
        name="length"
        (input)="onLengthChange()"
      />
    </div>
    <div class="form-group">
      <label for="area">Area Unit</label>
      <select
        [(ngModel)]="currentUnit"
        class="form-control"
        id="unit"
        name="unit"
        required
        (change)="onUnitChange()"
      >
        <option *ngFor="let u of units" [value]="u">{{ u }} </option>
      </select>
    </div>
    <!-- <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label> -->
    <div>
      <input
        type="checkbox"
        (change)="checkBoxvalue($event)"
        [value]="checked"
      />
      Save to Local Storage
      <button
        type="submit"
        class="btn btn-success"
        (click)="onSaveClick()"
        [disabled]="!areaForm.form.valid"
        *ngIf="!checked"
      >
        Save
      </button>
      <button
        type="submit"
        class="btn btn-success"
        (click)="onSaveClickToLS()"
        [disabled]="!areaForm.form.valid"
        *ngIf="checked"
      >
        Save to local Storage
      </button>
    </div>
  </form>
</div>
