<div>
  <div class="container">
    <h1>Area Calculator</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name: </label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="model.name"
          #name="ngModel"
          required
          minlength="2"
          name="name"
          (input)="onNameChange($event.target.value)"
        />
        <div
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 2 characters long.
          </div>
        </div>
      </div>

      <app-area-calculator
        [width]="model.width"
        [length]="model.length"
        [currentUnit]="model.unit"
        (saveClick)="onSaveClick()"
        (saveClickToLs)="onSaveClickToLs()"
        (areaChange)="onAreaChange($event)"
        (unitChange)="onUnitChange($event)"
        (lengthChange)="onLengthChange($event)"
        (widthChange)="onWidthChange($event)"
        (nameChange)="onNameChange($event)"
      ></app-area-calculator>
      <h2
        class="container"
        *ngIf="
          model.area &&
          model.unit &&
          model.width &&
          model.length &&
          model.name != null
        "
        [hidden]="submitted"
      >
        Area of {{ model.name != null ? model.name : "missing name" }}

        equals to:
        {{ model.area != null ? model.area : "missing inputs" }}
        {{ model.area != null ? model.unit : "" }}

        Based on a {{ model.width }} {{ model.unit }} by {{ model.length }}
        {{ model.unit }}
      </h2>
    </form>
  </div>
</div>

<div *ngIf="lastSavedModel" class="container">
  <h2>You calculated the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name:</div>
    <div class="col-xs-9">{{ lastSavedModel.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Width:</div>
    <div class="col-xs-9">{{ lastSavedModel.width }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Length:</div>
    <div class="col-xs-9">{{ lastSavedModel.length }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Area:</div>
    <div class="col-xs-9">{{ lastSavedModel.area }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Unit:</div>
    <div class="col-xs-9">{{ lastSavedModel.unit }}</div>
  </div>
  <br />
</div>

<div class="container" *ngIf="data != null && data.length != 0">
  <h2>previously calculated:</h2>
  <ol *ngFor="let d of data">
    <div class="row">
      <div class="col-xs-3">Name:</div>
      <div class="col-xs-9">{{ d.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Width:</div>
      <div class="col-xs-9">{{ d.width }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Length:</div>
      <div class="col-xs-9">{{ d.length }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Area:</div>
      <div class="col-xs-9">{{ d.area }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Unit:</div>
      <div class="col-xs-9">{{ d.unit }}</div>
    </div>
    <button class="btn btn-info" type="submit" (click)="updateLocalStorage(d)">
      Edit
    </button>
  </ol>

  <br />
</div>
