<div>
  <div class="container">
    <h1>Area Calculator</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Name: </label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          name="name"
          (input)="onNameChange($event.target.value)"
        />
      </div>
      <app-area-calculator
        (saveClick)="onSaveClick()"
        (areaChange)="onAreaChange($event)"
        (unitChange)="onUnitChange($event)"
        (widthChange)="onWidthChange($event)"
        (lengthChange)="onLengthChange($event)"
      ></app-area-calculator>
      <h2
        class="container"
        *ngIf="
          areaValue &&
          unitValue &&
          widthValue &&
          lengthValue &&
          nameValue != null
        "
        [hidden]="submitted"
      >
        Area of {{ nameValue != null ? nameValue : "missing name" }}

        equals to:
        {{ areaValue != null ? areaValue : "missing inputs" }}
        {{ areaValue != null ? unitValue : "" }}

        Based on a {{ widthValue }} {{ unitValue }} by {{ lengthValue }}
        {{ unitValue }}
      </h2>
    </form>
  </div>
</div>

<div class="container" *ngIf="data != null && data.length != 0">
  <h2>previously calculated:</h2>
  <ol *ngFor="let d of data">
    <div class="row">
      <div class="col-xs-3">Name:</div>
      <div class="col-xs-9">{{ d.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Width:</div>
      <div class="col-xs-9">{{ d.width }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Length:</div>
      <div class="col-xs-9">{{ d.length }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Area:</div>
      <div class="col-xs-9">{{ d.area }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Unit:</div>
      <div class="col-xs-9">{{ d.unit }}</div>
    </div>
  </ol>
  <br />
</div>

<div [hidden]="!submitted" class="container">
  <h2>You calculated the following:</h2>
  <div class="row">
    <div class="col-xs-3">Name:</div>
    <div class="col-xs-9">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Width:</div>
    <div class="col-xs-9">{{ model.width }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Length:</div>
    <div class="col-xs-9">{{ model.length }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Area:</div>
    <div class="col-xs-9">{{ model.area }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Unit:</div>
    <div class="col-xs-9">{{ model.unit }}</div>
  </div>
  <br />
</div>
